# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store

*.log           # Log files
*.sqlite3       # Local database files, if any
.env            # Environment variables file
